th {
	background-color: powderblue;
	border-bottom: 1px solid black;
	font-family: Sans-Serif;
}

tr:hover {
	background-color: #f2f2f2;
}

td {
	text-align: center;
	font-family: Sans-Serif;
	padding: 10px;
}

img {
	padding-left: 20px;
	padding-right: 20px;
	width: 100px;
}